## 列表

In [1]:
list_1 = [12, 15.6, True, 'hello', ['a', 'b']]
list_2 = [1, 2, 3, 4]
list_3 = list('hello')   # ['h', 'e', 'l', 'l', 'o']
list_4 = []

### 增 Create

In [2]:
list_5 = list_2 + list_3
list_5

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

In [3]:
list_2 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [4]:
list_2.append('jiuzhang')
list_2

[1, 2, 3, 4, 'jiuzhang']

In [5]:
list_2.insert(2, 'abc')
list_2

[1, 2, 'abc', 3, 4, 'jiuzhang']

In [6]:
list_2.extend(list_3)
list_2

[1, 2, 'abc', 3, 4, 'jiuzhang', 'h', 'e', 'l', 'l', 'o']

### 查 Read

In [7]:
for x in list_2:
    print(x, end=' ')

1 2 abc 3 4 jiuzhang h e l l o

In [ ]:
list_2[0], list_2[3], list_2[-1]

In [ ]:
list_2[1:6], list_2[:3], list_2[1:], list_2[:-2]

In [ ]:
2 in list_2

In [ ]:
if 2 in list_2:
    print(list_2.index(2))

In [ ]:
list_2.count(2)

### 改 Update

In [ ]:
list_2[2] = 100
list_2

In [ ]:
list_2[1:3] = [20, 30, 40, 1, 2, 3, 4]
list_2

In [ ]:
list_2[1:3] = []
list_2

### 删 Delete

In [ ]:
list_2.pop(1)
list_2

In [ ]:
list_2.remove(4)  # del 4
list_2

In [ ]:
del list_2[6]
list_2

In [ ]:
del list_2[2:4]
list_2

### 其他

In [ ]:
len(list_3)

In [ ]:
list_3.sort()
list_3

In [ ]:
list_3.reverse()
list_3

### 列表生成器

In [1]:
# 生成100以内5的倍数的数形成一个List

# NP
result = []
for i in range(101):
    if i % 5 == 0:
        result.append(i)
print(result)
        
# P
result = [i for i in range(101) if i % 5 == 0]
print(result)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [2]:
l = []
if l is None:
    l.append(100)
print(l）

SyntaxError: invalid character in identifier (<ipython-input-2-5061908bd056>, line 4)

In [3]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
nums[2:4] = []
print(nums.pop(3))

6

In [1]:
nums = [6, 4, 5, 7, -3, -1]
nums.insert(2, -6)
nums[2:-1] = [4, 7, 2]
nums.remove(4)
print(nums)

[6, 4, 7, 2, -1]

In [2]:
##nums初始为[6, 4, 5, 7, -3, -1]，经过nums.insert(2, -6)后变为[6, 4, -6, 5, 7, -3, -1]，经过nums[2:-1] = [4, 7, 2]操作后变为[6, 4, 4, 7, 2, -1]，经过nums.remove(4)后变为[6, 4, 7, 2, -1]。remove操作默认只会删除第一个值。

In [3]:
nums_1 = [7, 5, -2, 13, 6, 4]
nums_2 = [1, 2, 3, 4]
nums_2.extend(nums_1)
nums_3 = nums_1 * 2 + nums_2
print(len(nums_3))

22

In [4]:
nums_1 = [7, 5, -2, 13, 6, 4]
nums_2 = [1, 2, 3, 4]
nums_1 += nums_2
nums_1.remove(4)
nums_1[:4] = ['a', 'b']
print(len(nums_1))

7

In [5]:
#解析：nums_1 += nums_2本质上是将nums_1和nums_2中的元素拼接生成新的list再赋值给nums_1，经过这个操作后nums_1中有10个元素。remove操作只会删除掉一个4，切片赋值操作会将list中一段元素整段替换。所以最终还剩下7个元素。

In [6]:
print(nums_1)

['a', 'b', 6, 1, 2, 3, 4]

In [7]:
nums_1 = [7, 5, -2, 13, 6, 4]
nums_2 = (1, 2, 3, 4, ['a', 'b'])
nums_1.append(20)
nums_2[4].append('w')
nums_1.extend(nums_2)
print(nums_1[5:9])

[4, 20, 1, 2]

In [8]:
list_1 = [7, 5, -2, 13, 6, 4, [1, 2]]
list_2 = list_1
list_2[0] = -9
list_2[6].append(100)
list_3 = list_2[6]
list_3.extend(['a', 'b'])
print(list_1[6][2])

100

In [9]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

stu = Student('Jack', 70)
stu2 = Student('Tom', 80)
stu3 = stu2
stu3.score = 60
stu3 = stu
stu3.score = 50
print(stu.name, stu.score)

Jack 50

In [10]:
str_1 = '1234'
res = 0
for c in str_1:
    res = res * 10 + ord(c) - ord('0')

print(res)

1234

In [11]:
#解析：这段代码是将数字形式的字符串转化成相应的整数，通过数字字符的unicode编码减去'0'的unicode编码可以得到数字本身。|

In [12]:
res = ''
for c in str_1:
    res = c + res
print(res)

4321

In [14]:
print(str_1[::-1])

NameError: name 'str1' is not defined